@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  color: white;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}


h1 {
  font-family: 'Nunito', sans-serif, arial;
}

.firstContainer {
  display: inline-block;
  border: solid 1px black;
  width: 100%;
  border-style: none;

}

#newsProducts {
  display: inline-block;
  border: solid 2px #e0e0e0;
  width: 400px;
  height: 250px;
  overflow: auto;
  margin-top: 50px;
  margin-left: 150px;

}

iframe {
  display: inline-block;
  margin-top: 50px;
  margin-left: 150px;
}


.header {
  height: 200px;

}

.header h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  position: absolute;
  top: 25px;
  left: 400px;


}

.header img {
  height: 200px;
  width: 90%;
  margin-left: 60px;
  overflow: auto;
  background-image: center;
  position: relative;
}
.header ul {
  position: absolute;
  top: 25px;
  right: 75px;
  list-style: none;
}


